@font-face {
    font-family: 'home';
    src: url(/fontes/Family\ Home.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
body {
   background-color: black;
}
h1 {
    text-align: center;
   font-family: 'home';
    color: yellow;
}

img.imagematomo {
    text-align: center;
}