@font-face {
    font-family: 'home';
    src: url(/fontes/Family\ Home.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
body {
   background-color: black;
   
}
body.p {

  background-color: azure;
}
h1{
    font-size: 80px;
    text-align: center;
   font-family: 'home';
    color: yellow;
}

.imagematomo {
    size: 512px;
    left: 122px;
}